body {
    color: #bfc1c8;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    background: #1e202b;
}
nav .menu li a {
    padding: 5px 25px !important;
    border: 2px solid transparent;
    border-radius: 30px;
    color: white;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-weight: 400;
}
nav .menu li a:hover {
    border-color: var(--primary-color);
    color: #009ad8;
}
.breadcrumb {
    background: #262936;
    border-radius: 40px;
    padding: 20px 30px;
    font-size: 13px;
    font-size: 0.9285714286em;
}
.breadcrumb a:after {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 7px;
    background: url("/img/arrow-gray.png") no-repeat;
    margin: 0 10px;
}
.breadcrumb a {
    color: #bfc1c8;
    text-decoration: none;
}
.breadcrumb a:hover {
    text-decoration: underline;
}
nav .navbar-toggler {
    background: none;
    border: 2px solid transparent;
    color: white;
    padding: 15px;
    border-radius: 40px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    display: none;
    outline: none;
    vertical-align: middle;
    font-size: 15px;
    cursor: pointer;
    color: white;
}
nav .navbar-toggler:hover {
    border-color: #009ad8;
    color: #009ad8;
}
.fullwidth-block {
    padding: 70px 0;
}
.fullwidth-block .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.contact-details {
    background: #262936;
    border-radius: 10px;
    overflow: hidden;
}
.contact-details .map {
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.contact-details .contact-info {
    padding: 20px;
}
.contact-details .contact-info a {
    color: #bfc1c8;
}
.contact-form input:not([type="submit"]):hover, .contact-form input:not([type="submit"]):focus, .contact-form textarea:hover, .contact-form textarea:focus {
    border-color: #009ad8;
}
.contact-form input:not([type="submit"]), .contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
    border: 2px solid #393c48;
    background: transparent;
}
.contact-form textarea {
    min-height: 150px;
}